
body {
  background: #0000;
  background-image: linear-gradient(50deg, #58125d 21%, #1f2168 71%);
  height: 100vh;
  margin: 0;

}

:root {

  --font-title: 'Bebas Neue' , cursive;

}


.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cabecalho {
  background: #0000;
  padding: 10px;
  height: 50px;
  margin: auto;
}

.cabecalho h1 {
  font-family: var(--font-title);
  font-size: 38px;
  font-weight: 900;
  margin: auto;
  text-align: center;
}

button:disabled {
  background-color: #ccc;
}